@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-work {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* sheared styles */
.display-flax{
    display: flex;
}
.dark-2{
color: #424242;
}
.dark-3{
    color: #727272;
}
.orng-clr{
    color: #FF900E;
}
.bg-clr{
    background-color: #FFF4E7;
    width: 100%;
}


.text-primary{
    color: #FF900E;
}
.cmn-btn{
    background-color: #FF900E;color: white;
    font-size: 1.25rem;
    padding: 21px 25px;
    margin-bottom: 25px;
    border-radius: 6px;
    font-weight: 600px;
    border: none;
}
.cmn-btn:hover{color: #FFF4E7; background-color: magenta;}
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* header styles */

/* navbar styles */
.navbar {
    display: flex;
    justify-content:space-between ;
    align-items: center;
    width: 100%;
}
.brand{
    font-weight: 700px;
    font-size: 2.5rem;
}

.nav-links{
    display: flex;
    gap: 15px;
    text-decoration: none;
}
.nav-link{
    text-decoration: none;
    font-size: 1.2rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    padding: 10px;
}
.nav-item:hover{
    background-color: rgb(111, 167, 7); 
    
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    margin-left: 20px;
}
/* banner style */
.banner{
    margin: 0 auto;
    
    
}
.banner-content{
max-width: 850px;
margin: 0 auto;
text-align: center;

}
.banner-tit{
    font-size: 3.5rem ;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
   
    
}
.bnr-tit:hover{color: rgb(220, 20, 113);}
.banner-des{
    font-size: 1rem;
    color: #727272;
}
.bnr-tit{
    margin-bottom: 25px;
}
/* .body{
    margin: 20px;
    width: 100%;
} */
.bnr-img{
    width: 100%;
}
/* team section disin */
.teams{
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
    margin-top: 100px;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.feature-container{
    max-width: 530px;
    /* margin-left: 80px; */
}
.feature-tit{
    font-size:2.8rem;
    font-weight: 500px;
}

.feature-des{
    color: #727272;
}
/* love and enjoy styleS */
.love-section{
    margin-top: 100px;
}
.l-b-tit{
    font-size: 1.3rem;
    font-weight: 700;

}
.love-box{
    box-shadow:10px 10px 10px #e1dcdc96;
    /* height: 171px; */
    padding: 30px 38px;
    margin-top: 10px;
    border-radius: 5px;
    padding-right: 150px;
    
}
.love-color{
    height: 107px;
    width: 5px;
    color: #FF900E;
}
.love-text-had{
    display: flex;
    gap: 15px;
}
.love-enjoy-container{
    display: flex;
    gap: 25px;
}
.love-tit{
    border-left:5px  solid #FF900E;
    padding-left: 25px;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}
#experience-badge{
    padding: 45px 42px;
    color: white;
    margin-left: -100px;
    margin-top: -100px;
}
.btn-t-1{
    font-size: 4rem;
    font-weight: 600;
}
.bnr-t-2{
    font-size: 1.5rem;
    font-weight: 500;
}



/* facts stule start */

.fact{ 
    border : 2px solid orange;
    margin: 10px ;
    margin-top: 25px;
    padding: 25px;
    padding-top: 30px;
    text-align: center; 
    box-shadow: 10px 10px 10px  #b8b6b6;
    border-radius: 9px;
}
.fact:hover{
    background-color: rgba(245, 208, 245, 0.824);
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 30px;
    

}
.fact-number{
    font-size: 2.5rem;
    font-weight: 600;
    margin: 15px auto;
}
.fact-text{
    font-size: 1.2rem;font-weight: 500;
}
/* our sponsors */
.sponsor-info{
    text-align: center;
    width: 540px;
    margin: 50px auto;
}
.sponsor-imgs{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
    filter: grayscale(100%);
}
.our-sponsors{
    margin: 150px auto;
}
/* footer style  */
.fot{
    text-align: center;
    padding: 15px;
    background-color: antiquewhite;
    margin-bottom: 40px;
}


/* responsive media query */
@media screen and (max-width:576px){
   .navbar, .nav-links, .teams, 
   .love-enjoy-container{
     flex-direction: column; } 
     /* .header{
        width: 100%;
     } */
     .img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .fact-container{
        display: grid;
        grid-template-columns: repeat(1 ,1fr);}
      
        .fact-des, .fact-tit{
            text-align: center;
        }
        .sponsor-imgs{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 15px;
            width: 180px;
        }
        .sponsor-info{
            width: 360px;
        }
        .spn-img{
            margin-bottom: 30px;
            margin-left: 90px;
            
        }
        #experience-badge{
            margin-top: 10px;
            margin-left: 0px;
        }
        .love-img img{
            width: 100%;
        }
        


}
@media screen and (min-width:576px) and (max-width:992px) {
    .navbar, .nav-links, .teams, .love-enjoy-container{
        flex-direction: column; } 
        /* .header{
           width: 100%;
        } */
        .img-container{
           grid-template-columns: repeat(2,1fr);
       }
       .fact-container{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);}
        .fact-des, .fact-tit{
            text-align: center;
        }
        .sponsor-imgs{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            margin: 10px;
            margin-bottom: 40px;
            gap: 30px;
            
        }
        .spn-img{
            margin-bottom: 30px;
            box-shadow:5px 5px 5px #8e8d8d;
            
        }
        #experience-badge{
            margin-top: 10px;
            margin-left: 0px;
        }

   }
